.footer {
   background-color: $black;
   color: $white;
   font-weight: 300;

   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (--tablet) {
         flex-direction: row;
         justify-content: space-around;
      }
   }

   &__miro, &__copy, &__backtotop {
      font-size: 0.75rem;
   }
}
