.main-navigation {
   display: flex;
   justify-content: space-around;
   width: 100%;
   background-color: $black;
   color: $white;

   /* Don't display the main menu in tablet view */
   @media (--tablet-only) {
      flex-direction: column;
      text-align: center;
      height: 0;
      overflow: hidden;
   }

   @media (--desktop) {
      width: inherit;
      background-color: transparent;
      color: $black;
      margin-right: 10%;
   }

   /* Styling the main menu items */
   &__item {
      padding: 10px 20px;
      transition: color 0.3s;
      display: block;
      &:hover, &:focus {
         color: $mainGreen;
      } 
      @include typog-mobile-body;
      @media (--tablet) {
         @include typog-desktop-body;
         &:last-child {
            padding-right: 0;
         }
      }

      /* Styling the tablet version */
      @media (--tablet-only) {
         padding: 20px 0;
      }
   }
}

/* Slide down toggler class for tablet views */
.slideDown {
   height: 100%;
}