.off-canvas {
   /* Don't display on mobile or desktop view */
   @media (--mobile) {
      display: none;
   }
   @media (--desktop) {
      display: none;
   }

   /* Styling the off-canvas menu */

   height: 100%;
   /* 100% Full-height */
   margin-left: -450px;
   /* 0 width - change this with JavaScript */
   position: fixed;
   /* Stay in place */
   z-index: 1000;
   /* Stay on top */
   top: 0;
   left: 0;
   background-color: rgba(#000, 0.9);
   /* Black*/
   overflow-x: hidden;
   /* Disable horizontal scroll */
   padding-top: 60px;
   /* Place content 60px from the top */
   transition: margin .25s ease-in-out;
   /* 0.5 second transition effect to slide in the sidenav */
   display: flex;
   flex-direction: column;
   align-items: center;
   color: $white;


   /* Styling the off-canvas menu items */
   &__title {
      padding: 20px;
   }
   
   &__item {
      border: 0.05px solid $white;
      border-left: none;
      border-right: none;
      width: 100%;
      text-align: center;
      padding: 20px 100px;
      letter-spacing: 2px;
      @include typog-desktop-body;
   }

   /* Hamburger menu icon */

   &__toggler {
      display: none;
      @media (--tablet-only) {
         display: inline-block;
      }
   }
}

/* Toggle the slide in */

#offCanvasMenu.slideIn {
   margin-left: 0;
}

