/***** Breakpoints *****/

$mobile-max: 640px;
$tablet: 641px;
$desktop: 1025px;

@custom-media --mobile (max-width: $mobile-max);
@custom-media --tablet (min-width: $tablet);
@custom-media --desktop (min-width: $desktop);
@custom-media --tablet-only (width >= $tablet) and (width < $desktop);


